.content {
  width: 100%;
  height: calc(100vh - 8rem);
  padding: 3.6rem 4rem;
  overflow-y: auto;
}

.header {
  margin-top: 30px;
  margin-bottom: 1.6rem;
}

.productContainer {
  background-color: white;
  padding: 20px;
  height: 35rem;
  flex: 1;
  box-shadow: 0 3px 6px rgba(70, 70, 70, 0.1);
}
.productList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.product {
  display: flex;
  align-items: center;
  padding: 10px;
}

.productName {
  font-size: 1rem;
  color: #333;
}

.productTitle {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.tableContainer {
  margin-bottom: 1.6rem;
}

.gridItem {
  text-align: center;
  padding: 10px;
}
