.userContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 100px 0 50px 0;
}

.card {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
}

.leftItem {
  width: 20rem;
  display: flex;
  flex-direction: column;
  padding-left: 15rem;
}

.leftTitle {
  text-align: left;
  padding: 20px 0 10px 20px;
}

.leftBody {
  text-align: left;
  margin-top: 2px;
  align-content: flex-start;
  display: flex;
  padding-left: 3rem;
  width: 10rem;
}

.rightItem {
  width: calc(100% - 60rem);
}

.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.rightTitle {
  font-size: 2rem;
  font-weight: 400;
  padding: 20px 0 35px 20px;
}

.userBodyContainer {
  display: flex;
  text-align: left;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  padding: 10px 0 35px 0;
  justify-content: space-around;
  padding-right: 3rem;
  height: 10rem;
  align-items: center;
}

.name {
  display: flex;
  text-align: left;
  font-size: large bold;
}

.purchaseHistoryButton {
}

.transparentButton {
  background-color: transparent;
  color: inherit;
}

.userId {
  display: flex;
  text-align: left;
  font-size: small;
  color: gray;
  padding: 10px 0 20px 0;
}
